html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

select {
  padding:5px;
  margin: 0;
  background-color: #5e5e5e;
  color:rgb(255, 255, 255);
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(56, 56, 56);
  border:none;
  outline:none;
  display: inline-block;
  cursor:poiner;
  left: 0;
  top: 0;
  position: relative;
  z-index: 999;
}

select:after {
  content: "▼";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

select:hover {
background-color: #3b3b3b;
color: rgb(228, 228, 228);
display: block;
transition-duration: 0.25s;
}
